html, body {
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Microsoft YaHei';
}

.section > div {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -500px;
    margin-top: -250px;
    height: 500px;
    width: 1000px;
}

#fp-nav ul li a.active span, #fullPage .fp-slidesNav ul li a.active span {
    background: #0092DA !important;
}

#fp-nav ul li a span, #fullPage .fp-slidesNav ul li a span {
    border: 4px solid #0092DA !important;
}

#fp-nav ul li .fp-tooltip {
    color: #0092DA !important;
    font-family: 'Microsoft YaHei' !important;
    margin-top: 2px;
}

.section1 {
    background: rgb(234, 237, 255);
}

.page1 > div {
    position: relative;
    width: 200px;
    height: 400px;
    float: left;
    margin: 100px 23px 0 23px;
    border-radius: 15px;
}

.page1 .title {
    position: absolute;
    top: 0;
    height: 80px;
    width: 800px;
    left: 50%;
    margin: 0;
    margin-left: -400px;
    text-align: center;
    font-weight: 700;
    font-size: 48px;
    color: #0071bc;
    text-shadow: 2px 2px 5px #0071bc;
}

.page1 .subtitle {
    text-align: center;
    color: white;
    font-size: 24px;
    margin: 20px;
}

.page1 .context {
    text-align: left;
    padding-left: 20px;
    color: white;
    font-size: 18px;
    line-height: 30px;
}

.page1 .xqgk {
    background: #ffc100 url(img/ybyskjss-gygs.png) no-repeat;
    background-position: 65px 40px;
    box-shadow: 8px 8px 5px #ffc100;
    border: 2px white solid;
}

.page1 .zsqk {
    background: #fa8564 url(img/ssze-gy.png) no-repeat;
    background-position: 65px 40px;
    box-shadow: 8px 8px 5px #fa8564;
    border: 2px white solid;
}

.page1 .yebz {
    background: #22beef url(img/ssze-gygs.png) no-repeat;
    background-position: 65px 40px;
    box-shadow: 8px 8px 5px #22beef;
    border: 2px white solid;
}

.page1 .gyyd {
    background: #aec785 url(img/ybyskjss-gy.png) no-repeat;
    background-position: 65px 40px;
    box-shadow: 8px 8px 5px #aec785;
    border: 2px white solid;
}

.circle {
    height: 120px;
    width: 120px;
    background: url(img/circle.png);
    margin: 20px 0 0 40px;
}

.section2 {
    background-color: #f3f3f3;
}

.page2 .title {
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 48px;
    font-weight: 800;
    text-shadow: 1px 1px 3px #df5832;
    color: #df5832;
}

.page2 .subtitle {
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    font-weight: 700;
    padding-left: 20px;
    color: #5a7d4d;
}

.page2 .tb-container {
    height: 370px;
}

.section3 {
    background-color: rgb(243, 242, 255);
}

.page3 .title {
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 48px;
    font-weight: 800;
    text-shadow: 1px 1px 3px #008dae;
    color: #008dae;
}

.page3 .subtitle {
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    font-weight: 700;
    padding-left: 20px;
    color: #67b5c2;
    text-align: center;
}

.pag3 .tb-container {
    height: 370px;
}

.section4 {
    background-color: #ededed;
}

.page4 .title {
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 48px;
    font-weight: 800;
    text-shadow: 1px 1px 3px #5b6995;
    color: #5b6995;
}

.page4 .subtitle {
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    font-weight: 700;
    padding-left: 20px;
    color: #5b6995;
}

.pag4 .tb-container {
    height: 370px;
}

.section5 {
    background: #f6f6f7;
}

.page5 > img {
    height: 230px;
    width: 480px;
    float: left;
    margin: 10px;
}


.active .an {
    opacity: 1;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    transition-delay: 0.7s;
}

.an {
    opacity: 0;
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
    transition: all 1s;
}
