<?xml version="1.0" encoding="UTF-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime />
  </system.web>
  <appSettings>
    <add key="InvestmentPlatform_bussiness" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=127.0.0.1)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL)));User Id=SDE;Password=sde" />
    <add key="logo" value="http://192.0.4.195/zspt/images/logo-icon.png" />
    <add key="loginpage" value="http://192.0.4.55:8084/uap" />
    <add key="validate" value="http://192.0.4.55:8084/uap/validate_token" />
    <add key="tempFilePath" value="tmp" />
  </appSettings>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
                <add value="index.html" />
      </files>
    </defaultDocument>
  </system.webServer>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
</configuration>